---
import BaseLayout from '../layouts/BaseLayout.astro';
import FunCircle from '../components/FunCircle.astro';
---
<BaseLayout pageTitle ="Jørgen">
  <h2>My awesome blog subtitle</h2>
  <!--FunCircle /-->
</BaseLayout>